---
import { about as aboutEn } from "../site.ENconfig.ts";
import { about as aboutFr } from "../site.FRconfig.ts";
import I18n from "./I18n.astro";
---

<section
	id="about"
	class="bg-white lg:grid lg:h-screen lg:place-content-center dark:bg-gray-900"
>
	<div class="mx-auto w-screen max-w-7xl px-4 py-16 sm:px-6 sm:py-24 lg:px-8 lg:py-32">
		<div class="mx-auto max-w-prose text-start">
			<h1 class="text-lg font-bold text-gray-900 sm:text-xl dark:text-amber-500 font-mono mb-5">
				<I18n en={aboutEn.aboutTitle} fr={aboutFr.aboutTitle} block />
			</h1>
			<p>
				<I18n en={aboutEn.aboutDescription} fr={aboutFr.aboutDescription} />
				<a
					class="text-base text-pretty text-gray-700 sm:text-lg/relaxed dark:text-amber-500"
					target="_blank"
					rel="noopener noreferrer"
					href={aboutEn.aboutDescription2Link}
					data-i18n-title-en={aboutEn.aboutDescription2LinkTitle}
					data-i18n-title-fr={aboutFr.aboutDescription2LinkTitle}
					title={aboutEn.aboutDescription2LinkTitle}
				>
				<I18n en={aboutEn.aboutDescription2LinkText} fr={aboutFr.aboutDescription2LinkText} />.</a>
				<I18n en={aboutEn.aboutDescription2After} fr={aboutFr.aboutDescription2After} />
			</p>
			<p>
				<I18n en={aboutEn.aboutDescription3} fr={aboutFr.aboutDescription3} />
				<a
					class="pointer-events-none text-base text-pretty text-gray-700 sm:text-lg/relaxed dark:text-amber-500"
					>
				<I18n en={aboutEn.aboutDescription3Stack} fr={aboutFr.aboutDescription3Stack} /></a>
				<I18n en={aboutEn.aboutDescription3After} fr={aboutFr.aboutDescription3After} />
				<a
					class="pointer-events-none text-base text-pretty text-gray-700 sm:text-lg/relaxed dark:text-amber-500"
					>
				<I18n en={aboutEn.aboutDescription3Stack2} fr={aboutFr.aboutDescription3Stack2} /></a>
				<I18n en={aboutEn.aboutDescription3After2} fr={aboutFr.aboutDescription3After2} />
			</p>
			<p>
				<I18n en={aboutEn.aboutDescription4} fr={aboutFr.aboutDescription4} />
			</p>
			<p>
				<I18n en={aboutEn.aboutDescription5} fr={aboutFr.aboutDescription5} />
				<a
					class="pointer-events-none text-base text-pretty text-gray-700 sm:text-lg/relaxed dark:text-amber-500"
					>
				<I18n en={aboutEn.aboutDescription5Stack} fr={aboutFr.aboutDescription5Stack} /></a>
				<I18n en={aboutEn.aboutDescription6} fr={aboutFr.aboutDescription6} />
			</p>
		</div>
	</div>
</section>
